doctype html
html(lang='en')
  head 
    meta(charset='utf-8')
    meta(name='viewpor')
    title Haikyo Profile
    link(rel='stylesheet' type='text/css' href='intro.css')
    script(defer='', src='svg-with-js/js/fontawesome-all.min.js')
    script( src='svg-with-js/js/solid.js')
    script( src='svg-with-js/js/regular.js')
    script( src='svg-with-js/js/fontawesome.js')

  body
    // Header
    header(id='header')
      div(class='intro')
        h1 Hello, I'm Haikyo #{name}
        p living & Traveling
    // About Section
    div(id='about')
      div(class='section-title')
        h2 About Me
        hr
      div(class='profile_pic')
        img(src='img/me.jpg' class='img-responsive')
        p 
          strong Hate  to stay in the same place, hope to live a Nomadic life with a laptop.
        p(id='intro-text') 不小心在大二的暑假轉到資工系，發現這真是個無窮無盡又快速膨脹的領域，光是顧學校的課業就累得要死，很難有機會去做其他嘗試，也對很多領域不太了解，一直在尋找的過程中迷失，現在還是很茫然吶 ~
        div(class='about-title')
          div(class='about-block')
            h2  Interest
            div(class="about-detail")
              ul 
                li Painting (watercolor)
                li Music (guitar)
                li Traveling (backpacker)
          div(class='about-block')
            h2  Skill
            div(class="about-detail")
              ul
                li C & C++
                li Python
                li verilog
              
          div(class='about-block')
            h2  Education
            div(class="about-detail")
              ul
                li Tucheng junior high school 
                li Banqiao Senior High School
                li National Cheng Kung University
                
    // Footer
    footer(id='footer')
      div(class='section-title')
        h2 Contact
        hr
      div(class='social')
        ul
          li: a(href='https://www.facebook.com/exist02593') 
            i(class='fab fa-facebook-f  fa-2x')
          li: a(href='https://github.com/DyslexiaS') 
            i(class='fab fa-github  fa-2x' )





